{% extends 'base_content.html.twig' %}
{% block title %}Hello AccountController!{% endblock %}
{% block content %}
    <div class="Section">
        <div class="wrap">
            {{ dump(user) }}
        </div>
    </div>
{% endblock %}