{% extends 'base_content.html.twig' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="Section">
        <div class="wrap">
            <form class="form Authorization" action="#" method="post">
                <div class="row">
                    <div class="row-block">
                        <div class="form-group">
                            <label class="form-label" for="first_name">Имя</label>
                            <input class="form-input" id="first_name" name="first_name" type="text" data-validate="require">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="email">E-mail</label>
                            <input class="form-input" id="email" name="email" type="text" placeholder="send@test.test">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Пароль</label>
                            <input class="form-input" id="password" name="password" type="password" placeholder="Выберите пароль">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="passwordReply">Подтверждение пароля</label>
                            <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно">
                        </div>
                        <div class="form-group">
                            <button class="btn btn_primary" type="submit">Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

