{% apply inline_css(source('@css/registr_email.css')) %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead">

                        <h1>Сброс пароля</h1>

                    </td>
                </tr>
                <tr>
                    <td class="content">
                        <h2>Привет!</h2>
                        <p>Чтобы сбросить свой пароль, пожалуйста, перейдите по следующей ссылке</p>
                        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
                        <p>Срок действия этой ссылки истечет через {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                        <p>Ваше здоровье!</p>
                        <p>Место знания - в голове, а мудрости - в сердце.</p>
                        <p><em>– Уильям Хэзлитт</em></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>Сделано в <a href="#">master-laser.ru</a>, 664023 Иркутск, Советская 109\3</p>
                        <p><a href="mailto:">info@master-laser.ru</a> | <a href="#">Отписаться</a></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
{% endapply %}